[Unit]
Description=The Http Server
After=network-online.target nss-lookup.target

[Service]
User=devops
Group=devops
ExecStart=/home/devops/http_server/bin/http_server
WorkingDirectory=/home/devops/http_server/bin/
Restart=always
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target